Geo-computing/jython/cachedir/*
*.scons*
*.mod
*.o
*.class
*.py
*.toc
*.pdf
*.DS_store
*.pyc
Geo-computing/test/cachedir/
*.so
*.zip
*.swp
*.jar
*.log
*.aux
*.dat
*.png
*.jpg
*.blg
*.dat
*@
*.bbl
*.mpeg
*.rsf
